/* inicio menu desplegable */

.mainmenu, .mainmenu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	.mainmenu {
		margin: 0px auto;
	}
	
	.mainmenu:before,
	.mainmenu:after {
		content: "";
		display: table;
	}
	
	.mainmenu:after {
		clear: both;
	}
	
.mainmenu {
    margin-bottom: 15px;
    border: 1px solid #eeeeee;
    zoom: 1;
}
	.mainmenu li {
		float: left;
		position: relative;
		text-align:left;
	}
	

.mainmenu > li > a {
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #797979;
}

.mainmenu a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	float: left;
	padding: 12px 8px;
}
	
	.mainmenu li:hover > a {
		color: #797979;
	}
	
	*html .mainmenu li a:hover { /* IE6 only */
		color: #ff9800;
	}
	
	.mainmenu ul {
		margin: 20px 0 0 0;
		_margin: 0; /*IE6 only*/
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 38px;
		left: 0;
		z-index: 9999;    
		background: #444;
		background: -moz-linear-gradient(#444, #111);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
		background: -webkit-linear-gradient(#444, #111);    
		background: -o-linear-gradient(#444, #111);	
		background: -ms-linear-gradient(#444, #111);	
		background: linear-gradient(#444, #111);
		-moz-box-shadow: 0 -1px rgba(255,255,255,.3);
		-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
		box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;  
	}

	.mainmenu li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin: 0;
	}
	
	.mainmenu ul ul {
		top: 0;
		left: 100%;
		margin: 0 0 0 20px;
		_margin: 0; /*IE6 only*/
		-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		box-shadow: -1px 0 0 rgba(255,255,255,.3);		
	}
	
.mainmenu ul li {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    float: none;
    display: block;
    _line-height: 0;
    -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}
	
	.mainmenu ul li:last-child {   
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;    
	}
	
	.mainmenu ul a {    
		padding: 10px;
		width: auto;
		_height: 10px; /*IE6 only*/
		display: block;
		white-space: nowrap;
		float: none;
		text-transform: none;
		background-color:#fff;
		color:#797979;
	}

.mainmenu > li > a:hover {
    color: #797979;
    background-color: #f9f9f9	;
}
	.mainmenu > li > ul >li> a {    

		color:#797979;
	} 

.mainmenu > li > ul >li a:hover {
    background-color: #f9f9f9;
    color: #424242;
}
	
	.mainmenu ul a:hover {
background: #fff; /* Old browsers */



}

.mainmenu a:hover {
    color: #797979;
}
	
	.mainmenu ul li:first-child > a {


	}
	
	.mainmenu ul li:first-child > a:after {
		content: '';
		position: absolute;
		left: 40px;
		top: -6px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #eeeeee;
	}
	
	.mainmenu ul ul li:first-child a:after {
		left: -6px;
		top: 50%;
		margin-top: -6px;
		border-left: 0;	
		border-bottom: 6px solid transparent;
		border-top: 6px solid transparent;
		border-right: 6px solid #eeeeee;
	}
	
	.mainmenu ul li:first-child a:hover:after {
		border-bottom-color: #797979; 
	}
	
	.mainmenu ul ul li:first-child a:hover:after {
		border-right-color: #797979; 
		border-bottom-color: transparent; 	
	}
	
	.mainmenu ul li:last-child > a {

	}

/* fin menu desplegable */
